{%load static %}
{% static "images" as baseUrl %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="homestyle.css">
</head>
<body>
    
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <h1 class="my-4">DVD Store
          <small>Logo can go here</small>
        </h1>
        <div class="navigation_bar" style="position:absolute; top: 20px; right :100px">
          <form method="GET" action="">
            <input type="text" name='query' placeholder='Search...'>
            <input type="submit" value="Search">
            <a href="{% url 'clerk'%}"><button type="button" class="btn btn-primary">Clerk</button></a>
          </form>
          
        </div>
        
        {% for dvd in dvds %}
        <!-- Project -->
        <div class="row">
          <div class="col-md-5">
            <a href="#">
              <img class="img-fluid rounded mb-3 mb-md-0" src="{{dvd.img.url}}"  alt="" style="width:400px;height:500px">
            </a>
          </div>
          <div class="col-md-5">
            <h3>{{dvd.name}}</h3>
            <p>{{dvd.desc}}</p>

            {%if dvd.inStock %}
            <a class="btn btn-primary " href="#" data-toggle="modal" data-target="#mymodal">In Stock</a>
          
            {%else %}
            <a class="btn btn-primary" href="#" style="pointer-events: none; color:darkslategray">Out Of Stock</a>
            {%endif%}

          </div>
        </div>
        <!-- /.row -->
        <hr>
        {%endfor%}

<!-- The Modal -->
<div class="modal" id="mymodal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Header</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Modal body..
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- end modal -->

        <!-- Pagination -->
        <div class="pagination">
            <span class="step-links">
                {% if dvds.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ dvds.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ dvds.number }} of {{ dvds.paginator.num_pages }}.
                </span>
        
                {% if dvds.has_next %}
                    <a href="?page={{ dvds.next_page_number }}">next</a>
                    <a href="?page={{ dvds.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
  
      </div>
      <!-- /.container -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="script.js"></script>
</body>
</html>