body {
    padding-top: 80px;
    background-color: #487A51;
    color: #CCC;
}

.navbar {
    z-index: 9999;
}

.navbar-brand{
    color:forestgreen;
}

.sticky{
    position: fixed;
    top:0;
    width:100%;
}

.table-body{
    background-color: #487A51;
}

.modal {
    justify-content: center;
    margin: 30px;
    padding : 20px;

}

